<dd class="profile-topics usertopiccount-hidden">
	<strong>{L_TOPICS}{L_COLON}</strong>
	<!-- IF U_MARTTIPHPBB_USERTOPICCOUNT_SEARCH --><a href="{U_MARTTIPHPBB_USERTOPICCOUNT_SEARCH}"><!-- ENDIF -->
		{MARTTIPHPBB_USERTOPICCOUNT}
	<!-- IF U_MARTTIPHPBB_USERTOPICCOUNT_SEARCH --></a><!-- ENDIF -->
</dd>
<!-- IF not $MARTTIPHPBB_USERTOPICCOUNT_JAVASCRIPT_INSERTED -->
	<!-- INCLUDEJS @marttiphpbb_usertopiccount/ucp_pm.js -->
	<!-- $MARTTIPHPBB_USERTOPICCOUNT_JAVASCRIPT_INSERTED = 1 -->
<!-- ENDIF -->
