<dd class="profile-topics usertopiccount-hidden">
	<strong>{{- lang('TOPICS') -}}{{- lang('COLON') -}}</strong>
	{%- if U_MARTTIPHPBB_USERTOPICCOUNT_SEARCH -%}
		<a href="{{- U_MARTTIPHPBB_USERTOPICCOUNT_SEARCH -}}">
				{{- MARTTIPHPBB_USERTOPICCOUNT -}}
		</a>
	{%- else -%}
		{{- MARTTIPHPBB_USERTOPICCOUNT -}}
	{%- endif -%}
</dd>
{%- if not $MARTTIPHPBB_USERTOPICCOUNT_JAVASCRIPT_INSERTED -%}
	{%- INCLUDEJS '@marttiphpbb_usertopiccount/ucp_pm.js' -%}
	{%- $MARTTIPHPBB_USERTOPICCOUNT_JAVASCRIPT_INSERTED = 1 -%}
{%- endif -%}
