<dd class="profile-topics usertopiccount-hidden">
	<strong>{L_TOPICS}{L_COLON}</strong>
	<!-- IF postrow.U_MARTTIPHPBB_USERTOPICCOUNT_SEARCH --><a href="{postrow.U_MARTTIPHPBB_USERTOPICCOUNT_SEARCH}"><!-- ENDIF -->
		{postrow.MARTTIPHPBB_USERTOPICCOUNT}
	<!-- IF postrow.U_MARTTIPHPBB_USERTOPICCOUNT_SEARCH --></a><!-- ENDIF -->
</dd>
<!-- IF not $MARTTIPHPBB_USERTOPICCOUNT_JAVASCRIPT_INSERTED -->
	<!-- INCLUDEJS @marttiphpbb_usertopiccount/viewtopic.js -->
	<!-- $MARTTIPHPBB_USERTOPICCOUNT_JAVASCRIPT_INSERTED = 1 -->
<!-- ENDIF -->
